/* You can add global styles to this file, and also import other style files */
@import '/app/theme/materials.css';

body{
    margin: 0;
    padding: 0;
}

body, .app-root-container{
    display: flex;
    flex-direction: row;
}

.app-root-container{
    width: 100vw;
}