@import '../node_modules/@angular/material/core/theming/_all-theme';

@include md-core();
$primary: md-palette($md-blue-grey, 800);
$accent:  md-palette($md-amber, 600, A100, A400);
$warn:    md-palette($md-red, 600);
$theme: md-dark-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
