@import '../../../node_modules/@angular/material/core/theming/_palette';

:host{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100vh - 10px);
    width: calc(100vw - 150px);
    padding: 5px;
    overflow-y: auto;
    background-color: map-get($md-amber, 100);
}