.main-container{
    display: flex;
    flex-direction: row;
    flex: 1 1;
    width: 100vw;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
}

.sidebar-container{
    width: 150px;
    padding: 3px;
}

