@import '../../node_modules/@angular/material/core/theming/_palette';

.main-container{
    display: flex;
    flex-direction: row;
    flex: 1 1;
    width: 100vw;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
}

.sidebar-container{
    width: 150px;
    padding: 3px;
}

.sidenav-button{
    background-color: map-get($md-grey, 600);
}